/* Articles de la galerie */
.gallery article {
    width: 280px;
    height: 400px;
    background-color: #e0e0e0;
    border-radius: var(--arrondi);
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    transition: transform 0.3s ease;
}

.gallery article:hover {
    transform: scale(1.05);
}

.gallery article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
