@import url("variables.css");
@import url("global.css");
@import url("block.css");
@import url("composition.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #1a1a2e;
    color: white;
    padding: 2rem;
    text-align: center;
}

main {
    padding: 2rem;
}