.gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 400px;
}

/* Cartes de base */
.card {
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    
}

.card:hover {
    transform: scale(1.02);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Grande carte à droite (occupe 2 lignes) */
.card-large {
    grid-column: 3;
    grid-row: 1/ 3;
}

/* Petites cartes à gauche (grille 2x2) */
.card-small:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.card-small:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}

.card-small:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
}

.card-small:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
}
